body {
  background-color: rgb(50, 50, 50, 0.8);
}

.text-light {
  color: rgb(142, 231, 241) !important;
}

.text-danger {
  color: rgb(240, 83, 83) !important;
}

.text-primary {
  color: rgb(89, 148, 221) !important;
}

.bg-success {
  background-color: rgb(166, 241, 211) !important;
}

.bg-secondary {
  background-color: rgb(228, 228, 228) !important;
}

.navbar-tweaks {
  background-color: rgb(50, 50, 50, 0.3);
}

.visit-button {
  margin-top: -100px;
}

.text-lg {
  font-size: 2.5rem;
}

.official-text {
  margin-top: -150px;
}

.group-info-icons {
  margin-top: 20px;
  padding: 30px;
  border: 5px solid black;
  border-radius: 20%;
  max-width: 250px;
}

.visit-official-photo-link {
  background-size: 100%;
  min-height: 250px;
  background: url("https://images.unsplash.com/photo-1533282960533-51328aa49826?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3860&q=80");
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: #fff;
}

#main-photo {
  margin-top: -60px;
  background: url("https://images.unsplash.com/photo-1518533954129-7774297db60f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2978&q=80") no-repeat scroll 0px 100% / cover transparent;
  min-height: 500px;
  height: 100vh;
  overflow: auto;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/*
#main-photo {
  margin-top: -60px;
  background: url("https://images.unsplash.com/photo-1518533954129-7774297db60f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2978&q=80");
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  height: auto;

  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;

}
*/
#footer {
  background: url("https://images.unsplash.com/photo-1566035610402-67e4728390c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2648&q=80");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 300px;
}

#nasa-link {
  background-size: 100%;
  min-height: 180px;
  background: url("https://images.unsplash.com/photo-1554175339-3239bdeecf63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2978&q=80");
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: #fff;
}

#astronomy-news-image {
  background: url("https://source.unsplash.com/random/960x541/?griffith");
  /* background-size: contain; */
  background-position: center center;
  min-height: 300px;
}

#observatory-news-image {
  background: url("https://source.unsplash.com/random/960x540/?griffith");
  background-position: center;
  min-height: 300px;
}

#location-image {
  max-height: 500px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.vertical-container {
  /* NEEDED TO MAKE A CONTAINER
  TODO: Add something here*/
}

.border-style-1 {
  border: 2px solid black;
}

@media only screen and (max-width: 600px) {
  #main-photo {
    min-height: 450px;
  }

  .navbar-tweaks {
    background-color: rgb(50, 50, 50);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .griffith-info {
    margin-left: 15%;
    margin-right: 15%;
  }

  .mobile-none {
    visibility: hidden;
  }

  .group-info-icons {
    margin-top: 20px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 20%;
    max-width: 250px;
    min-width: 110px;
  }

  .photo-sm-none {
    display: none;
  }
}
