body {
  background-color: rgb(50, 50, 50, 0.8);

}

.navbar-tweaks {
  background-color: rgb(50, 50, 50, 0.3);

}

.visit-button {
  margin-top: -100px;

}

#address-text {
  margin-top: 75px;
}
#official-text {
  margin-top: -150px;
}


#main-photo {
  margin-top: -60px;
  background: url("https://images.unsplash.com/photo-1518533954129-7774297db60f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2978&q=80");
  background-size: cover;
  background-position: center center;
  min-height: 750px;
  height: auto;
}

#official-link {
  background-size: 100%;
  min-height: 250px;
  background: url("https://source.unsplash.com/1920x1080/?griffith");
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: #fff;
}

#nasa-link {
  background-size: 100%;
  min-height: 150px;
  background: url("https://source.unsplash.com/1920x1080/?nasa");
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: #fff;

}

#location-image {
  max-height: 500px;
}

@media only screen and (max-width: 600px) {
  #main-photo {
    min-height: 450px;
  }
}
